h1{
		font-size:80px;
		font-family: Babylonica , Arial;
		color:white;
		background-color: blue;
		margin: 18% 25% 18% 25%;
		text-align: center;
}

p{
		font-size:40px;
		font-family:  Rubik Gemstones, Arial;
		font-weight: 300;
		color:red;

}